# main
jupyter
matplotlib
numpy
pandas
pyarrow
pytorch-lightning
pytorch-forecasting
scipy
sklearn
seaborn
missingno
einops
tqdm
huggingface
datasets


# automl
ray
optuna
hyperopt
hpbandster
ConfigSpace
tabulate
tensorboardX

#development
black
pylint
